
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-category">Main Menu</li>
            <li class="nav-item">
              <a class="nav-link" href="/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
                         <a class="nav-link" href="/performance.html">
                           <i class="menu-icon typcn typcn-user-outline"></i>
                           <span class="menu-title">Model performance</span>
                         </a>
            </li>
          </ul>
        </nav>
